<a href="https://colab.research.google.com/github/oliviapang/undergrad_ml_assignments/blob/main/1_Wrangling_and_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/oliviapang/scratchpad
%run ./scratchpad/get_data.py

Cloning into 'scratchpad'...
remote: Enumerating objects: 45, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 45 (delta 10), reused 5 (delta 5), pack-reused 28 (from 1)
Receiving objects: 100% (45/45), 371.84 KiB | 4.65 MiB/s, done.
Resolving deltas: 100% (15/15), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Question 1

In [29]:
# 1
df = pd.read_csv('/content/data/airbnb_NYC.csv', encoding = 'latin1')
x = df['Price'].str.replace(',','')
x = pd.to_numeric(x, errors = 'coerce')
x.unique()

# Commas were removed from the price column using str.replace, then the type was changed to numeric such that any errors that
# couldn't be converted became NaN

array([  145,    37,    28,   199,   549,   149,   250,    90,   270,
         290,   170,    59,    49,    68,   285,    75,   100,   150,
         700,   125,   175,    40,    89,    95,    99,   499,   120,
          79,   110,   180,   143,   230,   350,   135,    85,    60,
          70,    55,    44,   200,   165,   115,    74,    84,   129,
          50,   185,    80,   190,   140,    45,    65,   225,   600,
         109,  1990,    73,   240,    72,   105,   155,   160,    42,
         132,   117,   295,   280,   159,   107,    69,   239,   220,
         399,   130,   375,   585,   275,   139,   260,    35,   133,
         300,   289,   179,    98,   195,    29,    27,    39,   249,
         192,   142,   169,  1000,   131,   138,   113,   122,   329,
         101,   475,   238,   272,   308,   126,   235,   315,   248,
         128,    56,   207,   450,   215,   210,   385,   445,   136,
         247,   118,    77,    76,    92,   198,   205,   299,   222,
         245,   104,   153,   349,   114,   320,   292,   226,   420,
         500,   325,   307,    78,   265,   108,   123,   189,    32,
          58,    86,   219,   800,   335,    63,   229,   425,    67,
          87,  1200,   158,   650,   234,   310,   695,   400,   166,
         119,    62,   168,   340,   479,    43,   395,   144,    52,
          47,   529,   187,   209,   233,    82,   269,   163,   172,
         305,   156,   550,   435,   137,   124,    48,   279,   330,
        5000,   134,   378,    97,   277,    64,   193,   147,   186,
         264,    30,  3000,   112,    94,   379,    57,   415,   236,
         410,   214,    88,    66,    71,   171,   157,   545,  1500,
          83,    96,  1800,    81,   188,   380,   255,   505,    54,
          33,   174,    93,   740,   640,  1300,   440,   599,   357,
        1239,   495,   127,  5999,   178,   348,   152,   242,   183,
         253,   750,   259,   365,   273,   197,   397,   103,   389,
         355,   559,    38,   203,   999,   141,   162,   333,   698,
          46,   360,   895,    10,    41,   206,   281,   449,   388,
         212,   102,   201,  2750,  4750,   432,   675,   167,   390,
         298,   339,   194,   302,   211,   595,   191,    53,   361,
         480,  8000,  4500,   459,   997,   345,   216,   218,   111,
         735,   276,    91,   490,   850,   398,    36,   775,   267,
         625,   336,  2500,   176,   725,  3750,   469,   106,   460,
         287,   575,   227,   263,    25,   228,   208,   177,   880,
         148,   116,   685,   470,   217,   164,    61,   645,   699,
         405,   252,   319,   268,   419,   343,   525,   311,   840,
         154,   294,   950,   409,   184,   257,   204,   241,  2000,
         412,   121,   288,   196,   900,   647,   524,  1750,   309,
         510,  1495,  1700,   799,   383,   372,   492,   327,  1999,
         656,   224,   173,   875,  1170,   795,   690,   146,   465,
        1100,   151,   274,   429,   825,   282,   256,  1111,   620,
         271,   161,    51,   855,   579,  1174,   430,    20,   899,
         649,   485,   181,   455,  4000,   243,   342,   590,   560,
         374,   437,   232,   359,   985,    31,   244,   254,   723,
         237,   428,   370,    34,  1400,   580,  2520,   221,   749,
        1600,  2695,   306,   202,   680,   570,   520,   223,  2295,
         213,  1065,   346,    24,   286,   296,   266,    26,   995,
        1368,   393,   182,   635,   258,   780,   589,   347,  1250,
        1350,   446,  3200,  1050,  1650,  1550,   975,   323,  6500,
        2499,  1850,  2250,   715,   461,   540,   356,   439,   384,
         569,  1900,    22,   785,   626,   830,   318,   444,   321,
         401,  1499,   888,   369,   770,   386,   366,   344,   630,
         313,   597,   262,   509, 10000,   278,   312,   789,  1195,
         422,    21,   765,  3500,   945,   326,  3100,  2486,  3390,
        1356,  2599,   472,   454,   328,   396,   291])

In [69]:
# 2
df = pd.read_csv('/content/data/mn_police_use_of_force.csv', encoding = 'latin1')
df['subject_injury_na'] = df['subject_injury'].isna()
df['subject_injury_imp'] = df['subject_injury'].fillna('Missing')
print(df['subject_injury_imp'].value_counts('normalize'))
# The proportion of missing values is 0.761934
pd.crosstab(df['subject_injury_imp'], df['force_type'])

# The broad and less deadly force types (e.g. bodily force, chemical irritant, improvised weapon) have higher proportions of missing
# values than the force types that are generally more dangerous, including "Gun Point Display" and "Police K9 Bite".
# Additionally, the "Less Leathal" and "Maximal Restraint Technique" columns are missing all values, indicating there could be
# some inconsistency in when injury is recorded or not.

subject_injury_imp
Missing    0.761934
Yes        0.126190
No         0.111876
Name: proportion, dtype: float64

force_type,Baton,Bodily Force,Chemical Irritant,Firearm,Gun Point Display,Improvised Weapon,Less Lethal,Less Lethal Projectile,Maximal Restraint Technique,Police K9 Bite,Taser
subject_injury_imp,,,,,,,,,,,
Missing,2,7051,1421,0,27,74,87,0,170,31,985
No,0,1093,131,2,33,34,0,1,0,2,150
Yes,2,1286,41,0,44,40,0,2,0,44,172

In [79]:
# 3
df = pd.read_csv('/content/data/metabric.csv', encoding = 'latin1')
map = {'0:LIVING': 1, '1:DECEASED': 0}
df['Overall Survival Status_map'] = df['Overall Survival Status'].map(map)
df['Overall Survival Status_map']

0       1
1       0
2       1
3       0
4       0
       ..
1338    1
1339    0
1340    1
1341    0
1342    1
Name: Overall Survival Status_map, Length: 1343, dtype: int64

In [ ]:
# 4